.intro,.skills{
    animation-duration: 1s;
    animation-name: appear;
}
@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#fleche{
    height: 5vmin;
    width: 100%;
}
#arrow:hover{
    animation: colorchange 3s infinite;
}
.App-header{
    background-color: transparent;
}
@keyframes colorchange{
    0%{
        fill: white;
    }
    25%{
        fill: lightskyblue;
    }
    50%{
        fill: lime;
    }
    75%{
        fill: orange;
    }
    100%{
        fill: white;
    }
}

#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}
canvas {
    display: block;
    vertical-align: bottom;
}
.contComp{
    margin: 2%;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}
.compEl{
    flex: 1 1 16%; 
    margin: 5px;
    max-height: 180px;
}
.skills{
    height: 100%;
}